# SuperNETS UnrealIRCd - Developed by acidvegas (https://github.com/supernets/unrealircd)
# unrealircd/.gitignore

assets/ansible/inventory.ini
assets/conf/unrealircd.conf
assets/conf/tls/*
assets/data/*
assets/logs/*
assets/.env